body {
  font-family: 'Roboto', sans-serif;
  background-color: #F4F7FA;
  color: #2E2E2E;
}

.bg-color{
  background-color: #E44D26;
}

.nav-link {
  font-family: 'Fira Code', monospace;
  color: white;
  font-size: large;
  padding: 0.5rem 1rem;
  text-align: center;
}

.nav-link:hover {
  color: #2E2E2E !important;
}

.nav-link.active {
  color: #2E2E2E !important;
  border-radius: 5px;
  font-weight: bold;  
}

.navbar-nav {
  gap: 1rem; 
}

.logo {
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1); 
}

.fira-code{
  font-family: 'Fira Code', monospace;
}

.footer-logo {
  transition: transform 0.3s ease-in-out;
}

.footer-logo:hover {
  transform: scale(1.1);
}

